bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

.idea
*.DotSettings.*
/ResourcefulHands.csproj.DotSettings
UserConfig.props
/CHANGELOG.md
/cliff.toml


# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates